block vars
-let title = "Prince of Tarts"

include _includes/header

include _includes/carousel
h1(style="display: none") Welcome to Prince of Tarts

.container.d-flex.justify-content-center
 iframe(class="mx-auto mt-5 mb-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1391.298790015374!2d22.4660904930679!3d-33.96465879504129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dd6054abcd373bf%3A0xf5010784dd36c03c!2sPrince%20of%20Tarts!5e0!3m2!1sen!2sza!4v1602495451565!5m2!1sen!2sza" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")

footer
 .container.bg-dark.text-light.pt-2.pb-3
  h2 About Us
  p  
   | Looking back, never would I have imagined that an unannounced visit at Mom’s house would lead me to a full-time career in the Tart business. It all began one auspicious summer morning way back when in 2010. On her way to work, Mom asked if I’d stay at her house and help her make the tarts for the Wild Oats Market – on my own..?!?!
   br
   br
   | Having zero knowledge in the art of tart baking (other than the basics which were unknowingly passed on from days in the kitchen with Mom as a little one), I was thrown straight in the proverbial deep end. Tough as it was, I soon realised my true passion and love of food. I know all too well how easily a tasty morsel can put a smile on one’s face, and it remains my primary motivation to this day. That, and the desire to produce the tastiest baked goods using quality ingredients, at an affordable price, and doing so most importantly – with love.
   br
   br
   | When it comes to ingredients you can’t compromise on quality. We only use butter, stoneground flour and free range eggs.
   br
   br
   | Ever since I can remember Mom would always warn and advise against a career in the food industry, but I think she was secretly programming me for the exact opposite. In this instance I’m glad I didn’t listen to her because I can’t imagine life without Pecan Nut Pie, or any of our delicious bakes for that matter!
   br
   em -Tyrone Schroeder
include _includes/footer

