doctype html
html(lang="en")
 head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="description" content="Prince of Tarts is the best bakery in the Garden Route. You are able to custom order or come into our shop on Hibernia street. Enjoy sweet treats as well as savoury. Only the best!")
  meta(name="keywords" content="prince of tarts, bakery garden route, bakery, garden route coffee, george coffee, george bakery, cakes, cake george, cakes george, cakes garden route")
    //- Bootstrap 5 Alpha
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous")  
  link(rel="icon" type="image" href="https://res.cloudinary.com/dvwsiufhl/image/upload/q_auto,dpr_auto,w_0.25/v1602247579/PrinceofTarts/logo-black_g0gkfc.png")
  title #{ title }

  style.
    body {
        background-color:#414142;
        background-image:
        radial-gradient(#d9d1bd 9px, transparent 10px),
        repeating-radial-gradient(#d9d1bd 0, #d9d1bd 4px, transparent 5px, transparent 20px, #d9d1bd 21px, #d9d1bd 25px, transparent 26px, transparent 50px);
        background-size: 30px 30px, 90px 90px;
        background-position: 0 0;
    }

   li {
    box-shadow: 5px 5px 5px black;
    }  
 
  body
   nav(class= "navbar fixed-top")
    .container-fluid.justify-content-center
      a(href="#" class= "navbar-brand")
       img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/w_0.25,e_shadow:30,co_black/v1602247579/PrinceofTarts/logo-black_g0gkfc.png")
      ul(class="navbar-nav mr-4")
       li
        a(class="nav-link btn font-weight-bold mt-1 p-1" style="background: #FF6B03" href="https://res.cloudinary.com/dvwsiufhl/image/upload/q_auto,f_auto/v1602506444/PrinceofTarts/Prince_of_Tarts_Menu_ltunc2.jpg" target="_blank") Menu
       li
        a(class="nav-link btn font-weight-bold mt-1 shadow-lg" style="background: #FF6B03") Cake Menu
       li
        a(class="nav-link btn font-weight-bold mt-1 " style="background: #FF6B03" data-toggle="modal" data-target="#modal") Contact Us