doctype html
html(lang="en")
 head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="description" content="Prince of Tarts is the best bakery in the Garden Route. You are able to custom order or come into our shop on Hibernia street. Enjoy sweet treats as well as savoury. Only the best!")
  meta(name="keywords" content="prince of tarts, bakery garden route, bakery, garden route coffee, george coffee, george bakery, cakes, cake george, cakes george, cakes garden route")
    //- Bootstrap 5 Alpha
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous")  
  link(rel="icon" type="image" href="https://res.cloudinary.com/dvwsiufhl/image/upload/q_auto,dpr_auto,w_0.25/v1602247579/PrinceofTarts/logo-black_g0gkfc.png")
  title #{ title }

  style.
    body {
        background-color:#414142;
        
    }

   li {
    box-shadow: 5px 10px inset black;
    border-radius: 10% !important;
    }

    @media screen and (max-width: 991px) {
      #logo {
        height: 100px;
        width: 100px;
      }
      a {
        padding: 0.5em;
        font-weight: inherit;
      }
    }  

    .navbar-toggler-icon {
       background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
       z-index: 10;
       box-shadow: 5px 2px 10px;
    }

    .navbar-toggler:focus {
      box-shadow: none !important;
    }

  body
   nav(class= "navbar fixed-top")
    .container-fluid.justify-content-center
      a(href="#" class= "navbar-brand mr-0 pr-0")
       img(id="logo" src="https://res.cloudinary.com/dvwsiufhl/image/upload/q_auto:best,c_thumb,w_113,e_shadow:30,co_black/v1602247579/PrinceofTarts/logo-black_g0gkfc.png" alt="Company Logo")
      button(class="navbar-toggler ml-0" type="button" data-toggle="collapse" data-target="#navbarItems" aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation" style="border:none")
       span(class="navbar-toggler-icon border border-dark")
      .collapse.navbar-collapse(id="navbarItems")
       .navbar-nav
        a(class="nav-link active btn btn-c font-weight-bold mt-1 p-1 rounded" style="background: #FF6B03" href="https://res.cloudinary.com/dvwsiufhl/image/upload/q_100,f_auto/v1602506444/PrinceofTarts/Prince_of_Tarts_Menu_ltunc2.jpg" target="_blank" role="button" aria-current="page") Menu
        a(class="nav-link btn btn-c font-weight-bold mt-1 rounded pl-1 pr-1" style="background: #FF6B03") Cake Menu
        a(class="nav-link btn btn-c font-weight-bold mt-1 rounded" style="background: #FF6B03" data-toggle="modal" data-target="#modal") Contact Us