.modal.fade(id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        h5(class="modal-title" id="exampleModalLabel") Contact Us
        button(type="button" class="btn-close" data-dismiss="modal" aria-label="Close")
      .modal-body
        p Thank you for your interest. To find out more, please call us on 082 850 7298 or 
         a(href="mailto:tyrone@princeoftarts.co.za") email us.
      
      .modal-footer
        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
